{%extends "admin/layout.html.twig" %}

{%block title%}
	{{title}}
{%endblock%}

{%block jumbotron%}{%endblock%}
 {%block script %}
<script type="text/javascript" src="/pfe/sources/js/pubEDT.js"></script>
    {%endblock%}
 {% block connected%}
 <img src="/pfe/sources/img/profil/{{user.compte.image}}" width="18">
{{user.perso.prenom}} {{user.perso.nom}}
 {%endblock%}

 {%block main %}
<div class="panel panel-info">

 <div class="panel-heading">
    <h1 class="panel-title">Creer un planning</h1>
  </div>
  <div class="panel-body">

  	<div class="panel lesSelects">
  		
						<div class="form-group col-md-3">
						<select id="select-classe" class="form-control" >
							<option value="vide">Classe</option>
							{%for c in classes %}
								<option value="{{c.id}}-{{c.id_niveau}}">{{c.nom}}</option>
							{%endfor %}
						</select>
						</div>
						<div class="form-group col-md-3">
						<select id="select-groupe" class="form-control" disabled="disabled" name="groupe" required="required">
							<option value="vide">Groupe</option>
							<option value="10">Groupe 10</option>
						</select>
						</div>

  	</div>
  	<br/>
  	<div id="blocFormulaireEDT">

	  	<div class="panel panel-success">
	  		<div class="panel-heading">
			    <h1 class="panel-title">Détails du planning</h1>
			  </div>
			  <form>
			  <div class="panel-body">
			  	<div class="form-group col-md-3">
			  		<label>Nom du planning : </label>
			  		<input type="text" class="form-control nom">
			  	</div>
			  	<div class="form-group col-md-3">
			  		<label>Debut planning : </label>
			  		<input type="date" class="form-control datedebut" >
			  	</div>
			  	<div class="form-group col-md-3">
			  		<label>Fin planning : </label>
			  		<input type="date" class="form-control datefin" >
			  	</div>

			  </div>
			  <div class="panel-footer">
			  	<input type="button" id="bouttonaddformEDT" class="btn btn-primary" value="valider">
				<input type="reset" class="btn" value="annuler">
	  		</div>
	  		</form>
	  	</div>


  	</div>

  	<br>
  	<div id="blocContaintEDT">

  	<div class="panel panel-warning">
	  		<div class="panel-heading">
			    <h1 class="panel-title">Contenu du planning</h1>
			  </div>
			  <div class="panel-body">
			  <div id="avancementLoading">--/--</div>
			  <table class="table table-condensed table-bordered">
  			<thead>
  				<tr>
  					<td></td>
  					{%for h in heures %}
  						<td>{{h}}</td>
  					{%endfor%}
  				</tr>
  			</thead>
  			<tbody>
  				{%for j in jours %}
  					<tr>
  							<td>{{j}}</td>
  							{%for he in heures  %}
  								<td>
  									<div class="contenu_planning" horaire="{{he}}" jour="{{j}}">
  										<span class="glyphicon glyphicon-plus addContent"></span>
  										
  									</div>
  								</td>
  							{%endfor%}

  					</tr>


  				{%endfor%}
  			</tbody>
  		</table>
			  </div>
			  <div class="panel-footer">
			  	<input type="button" id="endAddContentBtn" class="btn-lg btn-primary" value="Terminer">
	  		</div>
	 </div>

  		
  	</div>
  </div>
  
</div>
 {%endblock%}